* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Times, serif;
}

.game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 1.4em;

  .game-output {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1em;
    padding-bottom: 100px;

    p {
      margin-top: 0;
      line-height: 1.5;
      animation: pReveal 0.3s ease;
      animation-fill-mode: forwards;

      @keyframes pReveal {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      &.input {
        color: gray;
        animation: none;

        &:before {
          content: "> ";
        }
      }

      &.info {
        color: gold;
      }
    }
  }

  .game-input {
    position: fixed;
    bottom: 0;
    min-width: 300px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    padding: 1em;
    background: black;

    input[type="text"] {
      flex-grow: 1;
      margin-right: 1em;
      appearance: none;
      color: cyan;
      background-color: transparent;
      border: none;
      border-bottom: 1px dotted;
      font-family: inherit;
    }

    input[type="submit"] {
      cursor: pointer;
      font-family: inherit;
    }
  }

  .hidden {
    display: none !important;
  }
}
